<template>
    <footer>
        <div class="footer-content">
            <img src="@/assets/logo-footer.svg" alt="">
            <p>Made with ♥ in Paris</p>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'appFooter'
}
</script>

<style lang="scss">
footer {
    background-color: #6666FF;
    .footer-content {
        height: 18vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    p {
        margin: 0;
    }
}
@media screen and (min-width: 992px){
    footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    }
}
</style>