<template>
    <div id="headerComponent">
      <img src='@/assets/logo.svg' />
    </div>
</template>

<script>
export default {
  name: 'headerComponent'
}
</script>

<style lang="scss">
  #headerComponent {
    padding: 25px 0;
    background-color: #F4F4F4;
  }
</style>
