<template>
    <div id="cardComponents">
            <b-card class="card">
            <b-card-text>
            <div style="display: flex;">
                <div style="">
                <img src="@/assets/homepage/img/avatar1.svg">
                </div>
                <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
                <div class="text-left ml-2">
                    <p>{{ title }}</p>
                    <p>{{ prix }} </p>
                </div>
                <div class="text-right date-envoi">
                    <p>{{ status }}</p>
                    <p>{{ date }}</p>
                </div>
                </div>
            </div>
            </b-card-text>
            <b-button v-if="show == true" class="cardButton mt-3" variant="success" href="#">{{ btnText }}</b-button>
            </b-card>
    </div>
</template>

<script>
export default {
    name: 'CardComponent',
    props: {
    title: String,
    prix: String,
    date: String,
    status: String,
    Text: String,
    btnText: String,
    show: Boolean
    }
}
</script>

<style lang="scss">
.bold {
    font-family: SpaceGrotesk;
}
p {
    margin: 0;
}
.date-envoi {
    font-size: 12px;
}
.card {
    border-radius: 10px!important;
    background-color: #F4F4F4!important;
    border: none!important;
    .cardButton {
        width: 100%;
        background-color: #39CF71!important;
        border-color: #39CF71!important;
        &:hover {
            background-color: #fff;
            color: #39CF71!important;
            border-color: #39CF71!important;
        }
    }
}
</style>