<template>
    <div id="cardComponents">
            <p class="title">Mon bénéficiaire favori</p>
            <b-card>
            <b-card-text>
                <div style="display: flex;">
                <div style="">
                <img src="@/assets/homepage/img/avatar2.svg">
                </div>
                <div class="card-text-div">
                <div class="text-left ml-2">
                    <p>{{ name }}</p>
                    <p>{{ transfert }} </p>
                </div>
                <div class="text-right date-envoi">
                     <b-button class="cardButton mt-3" href="#" variant="primary">{{ btnText }}</b-button>
                </div>
                </div>
            </div>
            </b-card-text>
            </b-card>
            <a class="link-voir-tout">Voir tous mes bénéfices</a>
    </div>
</template>

<script>
export default {
    name: 'CardComponent',
    props: {
    name: String,
    transfert: String,
    Text: String,
    btnText: String
    }
}
</script>

<style lang="scss">
.cardButton {
    width: 100%;
}
.bold {
    font-family: SpaceGrotesk;
}
.card-text-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
   align-items: center;
}
</style>