<template>
    <div>
    <b-card
    class="mb-3"
    >
        <b-card-text>
            <div>
                <img class="img-width" src="@/assets/homepage/img/avatar2.svg" alt="">
                <p>{{ prenom }}</p>
                <p>{{ nbTransfert }}</p>
            </div>
        </b-card-text>
    </b-card>
    </div>
</template>

<script>
export default {
    name: 'CardBeneficiaireMin',
    props: {
        prenom: String,
        nbTransfert: String
    }
}
</script>

<style scoped>
.img-width {
    width: 114px;
}
</style>
