<template>
    <div>
    <b-card
    class="mb-3"
    >
        <b-card-text>
            <div>
                <img src="@/assets/homepage/img/beneficiaire-new.svg" alt="">
                <p>Nouveau</p>
                <p class="text-small">Ajouter un bénéficiaire</p>
            </div>
        </b-card-text>
    </b-card>
    </div>
</template>

<script>
export default {
    name: 'NewBeneficiaire'
}
</script>

<style lang="scss">
.text-small {
    font-size: 11px;
}
</style>