<template>
  <div class="home">
    <TabsComponents />
  </div>
</template>

<script>
// @ is an alias to /src
import TabsComponents from '@/components/TabsComponents.vue'


export default {
  name: 'Home',
  components: {
    TabsComponents
  }
}
</script>
