<template>
    <div id="tabs">
        <div>
            <b-tabs content-class="margin-50" justified>
                <TabAccueil />
                <TabTransfert />
                <TabBeneficiaire />
            </b-tabs>
        </div>
    </div>
</template>

<script>

import TabAccueil from '@/components/tabsCategory/tabAccueil.vue'
import TabTransfert from '@/components/tabsCategory/tabTransfert.vue'
import TabBeneficiaire from '@/components/tabsCategory/tabBeneficiaire.vue'


export default {
    name: 'tabsComponents',
    components: {
        TabAccueil,
        TabTransfert,
        TabBeneficiaire
    }
}
</script>

<style lang='scss'>
.nav-link.active {
    color: #6666FF!important;
}
.nav-link{
    color: #0A090A!important;
}
.nav-tabs {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
.title {
    font-family: SpaceGrotesk;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 24px;
}
.link-voir-tout {
    font-size: 12px;
    font-family: Nunito;
}
.margin-50 {
    margin-top: 50px
}

@media screen and (max-width: 768px) {
    .margin-50 {
        margin-top: 15px;
    }
}
</style>
