<template>
        <b-tab title="Accueil" active>
            <template slot="title">
            <img src='@/assets/homepage/icons/home.svg'/>
                <p>Accueil</p>
            </template>
            <b-container fluid="md">
                <b-row>
                <b-col :md="6">
                    <div id="mon-dernier-transfert">
                        <p class="title">Mon dernier transfert</p>
                        <CardTransfert class="mb-3" :show="true" date="16 Mars 2021" status="En cous d'envoi" prix="600.00 EUR" title="Maman" btnText="Refaire l'envoi" Text="text"/>
                        <a class="link-voir-tout">Voir tous mes transfert</a>
                    </div>
                </b-col>
                <b-col>
                    <div id="mon-beneficiaire-favori">
                        <CardBeneficiaire class="mb-3" name="Edouard" transfert="11 transfert" btnText="Envoyer" Text="text"/>
                    </div>
                </b-col>
                </b-row>
            </b-container>
        </b-tab>
</template>

<script>
import CardTransfert from '@/components/Cards/CardTransfert.vue'
import CardBeneficiaire from '@/components/Cards/CardBeneficiaire.vue'

export default {
    name: 'tabsAccueil',
    components: {
        CardTransfert,
        CardBeneficiaire
    }
}
</script>
