<template>
    <b-tab title="Bénéficiaires">
        <template slot="title">
        <img src='@/assets/homepage/icons/home.svg'/>
            <p>Bénéficiaires</p>
        </template>
        <b-container fluid="md">
            <b-row>
            <b-col :xs="6" v-for="(item, index) in items" :key="index">
                <CardBeneficiaireMin :nbTransfert="item.nbTransfert" :prenom="item.name"/>
            </b-col>
            <b-col :xs="6">
                <NewBeneficiaire />
            </b-col>
            </b-row>
        </b-container>
        </b-tab>
</template>

<script>
import CardBeneficiaireMin from '@/components/Cards/CardBeneficiaireMin.vue'
import NewBeneficiaire from '@/components/Cards/NewBeneficiaire.vue'

export default {
    name: 'tabBeneficiaire',
    components: {
        CardBeneficiaireMin,
        NewBeneficiaire
    },
    data: () => ({
        items: [
            { prix: '666,00 EUR', name: 'Edouard', nbTransfert: '1 transfert' },
            { prix: '666,00 EUR', name: 'Maman', nbTransfert: '3 transferts' },
            { prix: '666,00 EUR', name: 'Stéphane', nbTransfert: '10 transferts' }
        ]
    })
}
</script>
