<template>
    <b-tab title="Transfer">
        <template slot="title">
        <img src='@/assets/homepage/icons/home.svg'/>
            <p>Transferts</p>
        </template>
        <b-container fluid="md">
            <b-row>
            <b-col class="liste-status" :md="6">
            <div>
                <ul>
                    <li class="text-left">
                        <a class="mb-2">En cours d'envoi</a>
                    </li>
                    <li class="text-left">
                        <a class="mb-2">Terminée</a>
                    </li>
                    <li class="text-left">
                        <a class="mb-2">Annulée</a>
                    </li>
               </ul>
            </div>
            </b-col>
            <b-col :md="6">
                <div id="mon-dernier-transfert" v-for="(item, index) in items" :key=index>
                    <CardTransfert class="mb-3" :show="item.show" :date="item.date" :status="item.status" :title="item.name" :prix="item.prix" btnText="Refaire l'envoi" Text="text"/>
                </div>
            </b-col>
            </b-row>
        </b-container>
    </b-tab>
</template>

<script>
import CardTransfert from '@/components/Cards/CardTransfert.vue'

export default {
    name: 'tabTransfert',
    components: {
        CardTransfert
    },
    data: () => ({
        items: [
            { prix: '666,00 EUR', name: 'Maman', status: 'En cours d\'envoi', date: '16 Mars 2021', show: false },
            { prix: '42,34 EUR', name: 'Papa', status: 'En cours d\'envoi', date: '25 Décembre 2019', show: false },
            { prix: '98,00 EUR', name: 'Stéphane', status: 'Terminée', date: '10 Février 2015', show: false }
        ]
    })
}
</script>

<style lang="scss">
.liste-status {
    display: flex;
    justify-items: center;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .liste-status {
        display: none;
    }
}

ul {
    list-style: none;
}
</style>