<template>
  <div id="app">
    <headerComponent />
    <router-view/>
    <appFooter />
  </div>
</template>

<script>
import headerComponent from '@/components/generique/headerComponent.vue'
import appFooter from '@/components/generique/FooterComponents'

export default {
  name: 'app',
  components: {
    headerComponent,
    appFooter
  }
}
</script>


<style lang="scss">
@font-face {
    font-family: "SpaceGrotesk";
    src: url("./style/fonts/SpaceGrotesk-Bold.otf");
    font-family: "Nunito";
    src: url("./style/fonts/Nunito/Nunito-Black.ttf");
}
body {
  margin: 0;
  font-family: Nunito;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
p {
    margin-bottom: 0!important;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

</style>
